body {
  background-color: #DEC0F1;
}
p{text-align: center;
  color:#957FEF;
  font-size: 200%;
  font-family: sans-sarif;
}

h1 {
  color:purple;
}
img {
  width: 300px;
}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
